In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('weights_heights.csv')
df.head()

   Index    Height    Weight
0      1  65.78331  112.9925
1      2  71.51521  136.4873
2      3  69.39874  153.0269
3      4  68.21660  142.3354
4      5  67.78781  144.2971